[submodule "lib/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11
	branch = stable
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2
